{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  # Infisical 설정 (하드코딩)
  infisicalProjectId: "d7915e0f-395e-4292-b0e3-9966c2efb2a0"
  infisicalEnv: "dev"
